<footer class="site-footer">
  <div class="webring">
    <span class="blink">&#9786;</span>
    <a href="#">PREV &laquo;</a>
    &nbsp;|&nbsp; a member of the <b>CHENNIS WEBRING</b> (1 member) &nbsp;|&nbsp;
    <a href="#">&raquo; NEXT</a>
    <span class="blink">&#9787;</span>
  </div>
  <p class="tiny-print">
    &copy; IVAN BASHKIROV 1997 - {{ 'now' | date: "%Y" }}. ALL RIGHTS RESERVED (PLEASE DO NOT STEAL).
  </p>
  <p class="tiny-print">
    &quot;Grade 8 Piano with Distinction&quot;&trade; is a registered trademark of ivan. please do not use without written permission.
  </p>
  <div class="badges">
    <span class="badge b1">HTML 2.0</span>
    <span class="badge b2">&#10004; Y2K READY</span>
    <span class="badge b3">best viewed at 800&times;600</span>
    <span class="badge b4">powered by VIBES</span>
  </div>
  <p class="hit-counter">
    &#128065; hits: <span class="counter-digits">0 0 <b>0</b> 0 0 3</span>
  </p>
</footer>
