<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | default: "IVAN BASHKIROV DOT COM (WORLD WIDE WEB)" }}</title>
  <meta name="description" content="the official website of ivan bashkirov, inventor of chennis (chess + tennis). also grade 8 piano with DISTINCTION.">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Monoton&family=Press+Start+2P&family=Rubik+Glitch&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
  {%- feed_meta -%}
</head>
