---
layout: default
---

<main class="home-main">

  <section class="hero-blast">
    <div class="hero-left">
      <div class="badly-scaled-photo-frame">
        <img class="badly-scaled-photo" src="{{ '/assets/img/ivan.jpeg' | relative_url }}" alt="ivan (me)"/>
        <p class="photo-caption">^^^ this is me (the photo is slightly stretched on purpose not sure why)</p>
      </div>
    </div>
    <div class="hero-right">
      <h2 class="rainbow-title">HELLO AND WELCOME 2 MY WEBSITE</h2>
      <p class="typewriter">my name is <b>IVAN BASHKIROV</b> and i am the <mark>inventor of CHENNIS&trade;</mark> (chess + tennis).</p>
      <p class="fake-news">breaking news: i moved to <u>tbilisi, georgia</u> due to explosion in chennis popularity (grew 100% the same week i moved here, this is real data). multi instrumentalist.  i have <span class="distinction">Grade 8 Piano with Distinction</span>.</p>
      <p class="cta-line">
        &#128073;&#128073;&#128073; <a href="{{ '/chennis.html' | relative_url }}" class="big-cta">CLICK HERE TO PLAY CHENNIS RIGHT NOW</a> &#128072;&#128072;&#128072;
      </p>
    </div>
  </section>

  <hr class="horrible-hr"/>

  <section class="announcements">
    <div class="announce">
      <h3>&#128226; ANNOUNCEMENTS</h3>
      <ul>
        <li><span class="new-gif">NEW!!!</span> chennis tournament (solo)</li>
        <li><span class="new-gif">NEW!!!</span> i got Grade 8 Piano with <em>Distinction</em></li>
        <li>site redesigned</li>
        <li><span class="new-gif">NEW!!!</span> moved to tbilisi. the chennis is spreading</li>
      </ul>
    </div>
    <div class="fact-box">
      <h3>&#127934; DID U KNOW?</h3>
      <p>chennis popularity grew <b class="big-number">100%</b> the same week i moved to tbilisi. this is real data.</p>
    </div>
  </section>

  <hr class="horrible-hr"/>

  <section id="blog" class="stuff-section">
    <h2 class="section-title">stuff i wrote / stuff i made</h2>
    <div class="stuff-wrap">
      <div class="stuff-col">
        <h3 class="stuff-col-title blue-glow">&#128221; bl0g posts</h3>
        <ul class="stuff-list">
          {% for post in site.posts %}
          <li class="stuff-item">
            <a href="{{ post.url | relative_url }}">
              <span class="stuff-title">&raquo; {{ post.title }}</span>
              <span class="stuff-date">[{{ post.date | date: "%d/%m/%y" }}]</span>
              {% if post.description %}<span class="stuff-desc">{{ post.description }}</span>{% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="stuff-col">
        <h3 class="stuff-col-title pink-glow">&#128736; pr0jects</h3>
        <ul class="stuff-list">
          {% for project in site.projects %}
          <li class="stuff-item alt">
            <a href="{{ project.url | relative_url }}">
              <span class="stuff-title">&raquo; {{ project.title }}</span>
              <span class="stuff-date">[{{ project.date | date: "%d/%m/%y" }}]</span>
              {% if project.description %}<span class="stuff-desc">{{ project.description }}</span>{% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <hr class="horrible-hr"/>

  <section class="guestbook-stub">
    <h3>&#9997; GUESTBOOK</h3>
    <p>comming soon (since 2009)</p>
    <textarea class="fake-guestbook" placeholder="leave a message... (does not send anywhere)"></textarea>
    <button class="ridiculous-btn" onclick="alert('thank you for signing the guestbook (it was not saved)')">SUBMIT YOUR KIND WORDS</button>
  </section>

</main>
